
<%- include('../partials/header') %>

    <% accounts.forEach(function(a){ %>
        <% if(a.handle != ''){ %>
        <div class="accounts">
            <h2><%= a.handle %></h2>
            <a href="accounts/<%= a.handle %>"><img src="<%= a.avatar %>" alt="Avatar"></a>
        </div>
        <% }; %>
    <% }); %>

<%- include('../partials/footer') %>