
<%- include('../partials/header') %>
<div class="ac-top">
    <h1><%= account.handle %></h1>

    <img src="<%= account.avatar %>" alt="Avater">

    <% if(user) {%>
        <% if(account._id.toString() == user._id.toString()){ %>
            <div>
                <a href="/accounts/<%= user._id %>/edit"><button>Edit Profile</button></a>
            </div>
        <% }; %>
    <% }; %>
</div>

<div class="ac-posts">

    <hr>

    <h2>Posts</h2>

    <div>
        <% posts.forEach(function(p){ %>
            <ul>
                <li><p><%= p.title %></p></li>

                <li><a href="/posts/<%= p._id %>"><img src="<%= p.image %>" alt="Post-Image"></a></li>
                <% if(user) {%>
                    <% if(account._id.toString() == user._id.toString()){ %>
                        <li class="ac-post-control">
                            <a href="/posts/<%= p._id %>/edit"><button>Edit</button></a>
                        
                            <form action="/posts/<%= p._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    <% }; %>
                <% }; %>
            </ul>
        <% }); %>
    </div>
</div>

<div class="ac-comments">
    <% if(user) {%>
        <% if(account._id.toString() == user._id.toString()){ %>
            <hr>
            <h2>Comments</h2>
            <div>
                <% comments.forEach(function(c){ %>
                    <ul>
                        <li>Commented <a href="/posts/<%= c.post %>">here</a></li>
                        <li class="ac-comments-content">" <%= c.content %> "</li>
                        <hr>
                        <li>
                            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    </ul>
                <% }); %>
            </div>
        <hr>
        <% }; %>
    <% }; %>
</div>

<div class="ac-settings">
    <% if(user) {%>
        <% if(account._id.toString() == user._id.toString()){ %>
    
            <h2>Account Settings</h2>
        
            <form action="/accounts/<%= user._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Account</button>
            </form>
        
        <% }; %>
    <% }; %>
</div>


<%- include('../partials/footer') %>