
<%- include('../partials/header') %>

<h1><%= post.title %></h1>
<div class="post-show">
    <div>
        <p>Posted by: <a href="/accounts/<%= post.handle %>"><%= post.handle %></a></p>
        <img src="<%= post.image %>" alt="Post-Image">
        <p><%= post.caption %></p>

    <hr>
    <h4><%= comments.length %> Comments</h4>

    <% if(user){ %>
        <form action="/posts/<%= post._id %>/comments" method="POST">
            
            <input type="text" name="content" placeholder="Comment" required>
        
            <button type="submit">Comment</button>
        </form>
    <% }; %>

    <% if(comments){ %>
        <% comments.forEach(function(c){ %>

            <ul>
                <li class="ps-comment-user" ><a href="/accounts/<%= c.handle %>"><%= c.handle %></a> - <%= c.time.toISOString().slice(0,16).replace('T', ' - ') %></li>
                <li class="ps-comment-content"><%= c.content %></li>

                <div class="ps-comment-controls">
                    <% if(user){ %>
                        <% if(c.account.toString() == user._id.toString()) { %>
                            
                            <a href="/comments/<%= c._id %>/edit"><button>Edit</button></a>

                            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        <% }; %>
                    <% }; %>
                </div>
            </ul>

        <% }); %>
    <% }; %>
    </div>
</div>

<%- include('../partials/footer') %>